<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCityEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
    <CityEvent>
        <Header>Cinema</Header>
        <Description>Cyberpunk</Description>
        <Image>123.png</Image>
        <Date>01.01.2023</Date>
        <Category>Категория мероприятия</Category>
        <Price>1000</Price>
    </CityEvent>
</ArrayOfCityEvent>




    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    


    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    
    

    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    


    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    
    

    
        
    
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    


    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    
    

    
    
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
        

    
    
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    

    
    
        
        
    
        
    
    
    
        
            
            
            
            
            
            
            
            
            
        
        
        
        
        
        
        
        
        
        
    
    


    
        
    
        
        
        
